<html>
<head>
    <script>
        function onload () {


        }
        function showHint(str)
        {
            // document.getElementById("txtHint").innerHTML=str;
            // alert(str);
            // document.write(str);
            var xmlhttp;
            if (str.length==0)
            {
        //输入框为空跳回原地址
                window.location.href='ajax';
                return 0;
            }
            if (window.XMLHttpRequest)
            {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {

                    document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                }
            }

           // alert("http://127.0.0.1/user/usercontrol/search1?username="+str);
            //我的电脑 注意端口号
            // xmlhttp.open("GET","http://127.0.0.1/user/usercontrol/search1?username="+str,true);
            //  xmlhttp.open("GET","http://127.0.0.1:8080/user/usercontrol/search1?username="+str,true);
            xmlhttp.open("GET","http://127.0.0.1:8080/user/usercontrol/ajax?username="+str,true);

            xmlhttp.send();




        }
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
<form action=""  role="form">

    <div class="row">
        <div class="col-lg-3">
            输入username: <input type="text" id="txt1" value="{$name}" onkeyup="showHint(this.value)"/>
        </div>
    </div>
    <!--<input type="button" value="搜索"-->
           <!--onclick="showHint(document.getElementById('txt1').value)">-->
</form>
账户显示:
<div id="txtHint">
    <table  class="table table-striped">
        <tr>
            <td>ID</td>
            <td>name</td>
            <td>username</td>
            <td>操作</td>
        </tr>
        {foreach ($user as $value)}
        <tr>
            <td>{$value.id}</td>
            <td>{$value.name}</td>
            <td>{$value.username}</td>
            <td><a href="selectuser?id={$value.id}">修改</a>
            <a href="deleteuser?id={$value.id}">删除</a> </td>
        </tr>

        {/foreach}


    </table>
    {$user|raw}
</div>








</body>
</html>