
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
<!--<div id="txtHint">-->

    <table  class="table table-striped">
        <tr>
            <td>ID</td>
            <td>name</td>
            <td>username</td>
        </tr>
        {volist name='user' id='value'}

        <tr>
            <td>{$value.id}</td>
            <td>{$value.name}</td>
            <td>{$value.username}</td>
            <td><a href="selectuser?id={$value.id}">修改</a> </td>
            <td><a href="deleteuser?id={$value.id}">删除</a> </td>
        </tr>

        {/volist}

    </table>


{$user|raw}

</body>
</html>