<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<br><br>

<h3>登录</h3>

<br>


{$time%86400 == 57600 ? date('Y-m-d') : date('Y-m-d H:i');}
<form action="/user/usercontrol/login" method="post">
    name：<input type="text" name="name">
    password:<input type="password" name="password">
    <!--control:<input type="text" name="control">-->
    <input type="submit" value="确认">
</form>
<br><br>

</body>
</html>